@{
    ViewData["Title"] = "Kontakt";
}

<div class="contact-hero">

    <h1>📞 Kontakt</h1>

    <div class="contact-box">

        <p><b>Adresa:</b> Gradska biblioteka</p>
        <p><b>Telefon:</b> +381 11 123 456</p>
        <p><b>Email:</b> biblioteka@gmail.com</p>
        <p><b>Radno vreme:</b> 08:00 - 20:00</p>

    </div>

</div>